learn-terraform-provisioning-cloud-init/tf-cloud-init.pub
learn-terraform-provisioning-cloud-init/tf-cloud-init
*.terraform
*.tfstate*
*.lock.hcl
learn-terraform-provisioning-packer/tf-packer.pub
learn-terraform-provisioning-packer/tf-packer